<div class="container pt-5">
  <div class="d-flex justify-content-between mb-3">
    <h3>Total envelops - {{envelops?.length || 0}}</h3>
    <h3>Monthly budget - {{totalMonthlyBudget | currency:'INR'}}</h3>
    <div class="d-flex justify-content-start">
      <button *ngIf="!isGetCompleted" class="btn btn-dark disabled placeholder w-10"></button>
      <button *ngIf="isGetCompleted" type="button" class="btn btn-dark" (click)="onAddClick()">
        Add Envelop
      </button>
      <button *ngIf="!isGetCompleted" class="btn btn-dark disabled placeholder w-10"></button>
      <button *ngIf="isGetCompleted" type="button" class="btn btn-dark ms-3" (click)="onAddSalaryClick()">
        Add Salary
      </button>
    </div>
  </div>

  <!-- template loader -->
  <div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="!isGetCompleted">
    <div class="col">
      <div class="card h-100" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <div class="d-flex justify-content-between">
              <span class="placeholder rounded w-50"></span>
              <span class="placeholder rounded w-25"></span>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <div class="d-flex justify-content-between">
              <span class="placeholder rounded w-50"></span>
              <span class="placeholder rounded w-25"></span>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <div class="d-flex justify-content-between">
              <span class="placeholder rounded w-50"></span>
              <span class="placeholder rounded w-25"></span>
            </div>
          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <div class="d-flex justify-content-between">
              <span class="placeholder rounded w-50"></span>
              <span class="placeholder rounded w-25"></span>
            </div>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <ng-container *ngFor="let envelop of envelops">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="d-flex justify-content-between cursor-pointer" (click)="onUpdateClick(envelop)">
              <h5 class="card-title">{{envelop.name}}</h5>
              <h5 class="card-title">{{envelop.amount | currency: 'INR'}}</h5>
            </div>
            <div class="py-3">
              <ngb-progressbar type="{{envelop.type}}" class="cursor-pointer"
                [value]='(envelop.totalSpending! / envelop.amount) * 100' [striped]="true" [animated]="true"
                (click)="envelop.showSpending = !envelop.showSpending">
                {{envelop.totalSpending! | currency: 'INR'}}
              </ngb-progressbar>
            </div>
            <div class="pb-3" *ngIf="envelop.showSpending">
              <ng-container *ngIf="envelop.spendings && envelop.spendings!.length > 0; else noSpendingTemplate">
                <div class="table-responsive">
                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th>Sr no.</th>
                        <th>Payee</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let spending of envelop.spendings; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{spending.payee}}</td>
                        <td>{{spending.amount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noSpendingTemplate>
  <h6 class="text-center">No spending yet :)</h6>
</ng-template>

<ng-template #envelopModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{isAddOperation ? 'Add Envelop' : (isUpdateOperation ? 'Update Envelop' : 'Envelop')}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <form [formGroup]="envelopForm">
        <div class="form-floating mb-3">
          <input formControlName="name" type="text" class="form-control" id="nameFloatingInput"
            placeholder="Eg.: Shopping" [ngClass]="((envelopForm.get('name')?.dirty || envelopForm.get('name')?.touched) && 
              (envelopForm.get('name')?.invalid)) ? 'is-invalid' : ''">
          <label for="nameFloatingInput">Name</label>
          <div class="invalid-control">
            Name must be specified
          </div>
        </div>
        <div class="form-floating mb-3">
          <input formControlName="amount" type="number" class="form-control" id="amountFloatingInput"
            placeholder="Eg.: 1000" [ngClass]="((envelopForm.get('amount')?.dirty || envelopForm.get('amount')?.touched) && 
              (envelopForm.get('amount')?.invalid)) ? 'is-invalid' : ''">
          <label for="amountFloatingInput">Budget Amount</label>
          <div class="invalid-control">
            Amount must be specified
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSaveClick()">Save</button>
  </div>
</ng-template>


<ng-template #salaryModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{isAddOperation ? 'Add Salary' : (isUpdateOperation ? 'Update Salary' : 'Salary')}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <div class="row">
      <form [formGroup]="userSalaryForm">
        <div class="form-floating mb-3">
          <input formControlName="salary" type="number" class="form-control" id="salaryFloatingInput"
            placeholder="Eg.: Shopping" [ngClass]="((userSalaryForm.get('salary')?.dirty || userSalaryForm.get('salary')?.touched) && 
              (userSalaryForm.get('salary')?.invalid)) ? 'is-invalid' : ''">
          <label for="salaryFloatingInput">Salary</label>
          <div class="invalid-control">
            Salary must be specified
          </div>
        </div>
        <div class="form-floating mb-3">
          <select formControlName="salaryType" class="form-select" id="floatingSelectSalaryType" aria-label="Select salary">
            <option value="null">Select salary type</option>
            <option value="Job">Job</option>
            <option value="Freelancing">Freelancing</option>
          </select>
          <label for="floatingSelectSalaryType">Salary Type</label>
        </div>
        <div class="form-floating mb-3">
          <select formControlName="accountId" class="form-select" id="floatingSelectAccountId" aria-label="Select account">
            <option value="null">Select account</option>
            <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
          </select>
          <label for="floatingSelectAccountId">Account</label>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSaveClick()">Save</button>
  </div>
</ng-template>

<ng-template #messageTemplate>
  <span class="toast-font"><strong>{{message}}</strong></span>
</ng-template>