<div class="container">
  <ng-container *ngIf="userAccounts.length > 0">
    <div class="table-responsive">
      <tabele class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let userAccount of userAccounts; let i = index">
            <tr (click)="onEditClick(userAccount)">
              <td>{{ i + 1}}</td>
              <td>{{userAccount.name}}</td>
              <td>{{userAccount.account}}</td>
              <td>
                <button class="btn btn-danger" type="button" (click)="onDeleteClick(userAccount)">Delete
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </tabele>
    </div>
  </ng-container>
</div>



<ng-template #errorTemplate>
  <span class="toast-font"><strong>{{errorMessage}}</strong></span>
</ng-template>