.card-width {
  width: 50%;
}

.anchor-tag {
  text-decoration: none;
  color: var(--blue);
}

#toggle-password {
  margin-left: -30px;
  cursor: pointer;
}

// ===================================== MEDIA QUERIES ===================================== 

@media screen and (max-width: 1000px) {
  .card-width {
    width: 80%;
  }
}


@media screen and (max-width: 700px) {
  .card-width {
    width: 100%;
  }
}