<div class="container my-10">
  <div class="d-flex justify-content-center">
    <div class="card card-width rounded shadow">
      <div class="card-body">
        <div class="card-title text-justify">
          <h3><strong>Login</strong></h3>
          <p class="card-subtitle">Hey, Enter your details to get sign in to your account</p>
        </div>
        <div class="pt-3">
          <div class="d-flex flex-column">
            <form [formGroup]="loginForm">
              <div class="form-floating mb-3">
                <input formControlName="username" type="text" class="form-control" id="usernameFloatingInput"
                  placeholder="Enter username" [ngClass]="(loginForm.get('username')!.touched || loginForm.get('username')!.dirty) && 
                  loginForm.get('username')!.invalid ? 'is-invalid' : ''" maxlength="255">
                <label for="usernameFloatingInput">Username</label>
                <div *ngIf="(loginForm.get('username')!.touched || loginForm.get('username')!.dirty) && 
                loginForm.get('username')!.invalid">
                  <div *ngIf="loginForm.get('username')!.errors!['required']" class="invalid-control">
                    Username must be specified
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'"
                  id="passwordFloatingInput" placeholder="Password" maxlength="255" class="form-control" 
                  [ngClass]="(loginForm.get('password')!.touched || loginForm.get('password')!.dirty) && 
                    loginForm.get('password')!.invalid ? 'is-invalid' : ''">
                <label for="passwordFloatingInput">Password</label>
                <div *ngIf="(loginForm.get('username')!.touched || loginForm.get('username')!.dirty) && 
                loginForm.get('username')!.invalid">
                  <div *ngIf="loginForm.get('password')!.errors!['required']" class="invalid-control">
                    Password must be specified
                  </div>
                </div>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" (change)="isPasswordVisible = !isPasswordVisible" id="showPassword">
                <label class="form-check-label cursor-pointer" for="showPassword">Show Password
                </label>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn-blue w-100 py-2 rounded" (click)="validateForm()" [disabled]="!loginForm.dirty">
                  <strong>Login</strong>
                </button>
              </div>
            </form>
            <div class="pt-3">
              <label>Don't have an account?</label>
              <a class="anchor-tag cursor-pointer" (click)="navigateToRegister()"> Register Now</a>
              <!-- <button type="button" class="btn btn-default p-0" (click)="navigateToRegister()"> Register Now</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #messageTemplate>
  <span class="toast-font"><strong>{{message}}</strong></span>
</ng-template>